@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <h2>Матрица 9x9 со случайными числами и среднее арифметическое четных элементов</h2>

    <table class="table table-bordered">
        @for (int i = 0; i < 9; i++)
        {
            <tr>
                @for (int j = 0; j < 9; j++)
                {
                    <td>@ViewBag.Matrix[i, j]</td>
                }
                <td><strong>Среднее: @ViewBag.Averages[i]</strong></td>
            </tr>
        }
    </table>
</div>
